<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>Team23.FoodBookApp.contextTask</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.168193050245-rjfigcrplom7lkmts7i5nonn2t90pb46</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>168193050245-rjfigcrplom7lkmts7i5nonn2t90pb46.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>ArchivoBlack-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
	</array>
</dict>
</plist>
